---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Activities from "./components/Activities.astro";
import EnlaceInteres from "./components/EnlaceInteres.astro";
---

<Layout title="Conoce Más - Museos en Línea">
  <Navbar />
  <main class="w-11/12 mx-auto">
    <Activities />
    <EnlaceInteres />
  </main>
  <Footer />
</Layout>
