---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Activities from "./components/Activities.astro";
import EnlaceInteres from "./components/EnlaceInteres.astro";
import Normativa from "./components/Normativa.astro";
import Homenaje from "./components/Homenaje.astro";
import Estadisticas from "./components/Estadisticas.astro";
---

<Layout title="Conoce Más - Museos en Línea">
  <Navbar />
  <main class="lg:w-11/12 w-4/5 mx-auto my-[50px]">
    <Activities />
    <EnlaceInteres />
    <Normativa />
    <Homenaje />
    <Estadisticas />
  </main>
  <Footer />
</Layout>
