---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Conoce Más - Museos en Línea">
  <Navbar />
  <h1>Puedo decirlo más fuerte, pero no más claro</h1>
</Layout>
