---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Museos - Museos en Línea">
  <Navbar />
  <h1>Lo wachos ahora están haciendo plata</h1>
</Layout>
