---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import { dataGestion } from "../../data/data";
---

<Layout title="Gestión de Colecciones - Museos en Línea">
  <Navbar />
  <main class="w-3/4 mx-auto my-20">
    <h2 class="text-4xl font-semibold mb-20 text-center">
      Gestión de Colecciones
    </h2>

    <section class="flex flex-col gap-11">
      {
        dataGestion.map(({ title, text, image }) => {
          return (
            <div class="flex gap-36 justify-between">
              <div class="w-1/2 animate__animated animate__fadeInLeft">
                <h3 class="font-bold text-2xl mb-1">{title}</h3>
                <p class="font-bold text-xl">{text}</p>
              </div>

              <div>
                <div class="w-[360px] h-[304px] overflow-hidden rounded-2xl relative animate__animated animate__fadeInRight">
                  <img
                    src={image}
                    class="w-full h-full object-cover rounded-2xl brightness-75 hover:brightness-100 scale-125 hover:scale-100 transition-all duration-500"
                    alt="imagen"
                  />
                  <span class="absolute bottom-10 left-10 text-white font-bold cursor-pointer">
                    Conoce más aquí &rarr;
                  </span>
                </div>
              </div>
            </div>
          );
        })
      }
    </section>
  </main>
  <Footer />
</Layout>
