<footer class="bg-[#FFCF90] py-20">
  <div class="w-7/12 mx-auto">
    <section class="flex justify-between pb-20">
      <div>
        <p>
          <span class="font-semibold">Sede Central:{" "}</span>Av. Javier Prado
          Este 2465 San Borja, Lima 41 Perú
        </p>
        <p>
          <span class="font-semibold">Correo Electrónico:{" "}</span>511 -
          6189393
        </p>
      </div>

      <div class="flex gap-6">
        <img src="/iconFooter/facebook.svg" alt="" />
        <img src="/iconFooter/instagram.svg" alt="" />
        <img src="/iconFooter/twitter.svg" alt="" />
      </div>
    </section>

    <div class="flex justify-center">
      <img src="/logoMinisterio.webp" width={350} alt="Logo" />
    </div>
  </div>
</footer>
