---
import Navbar from "./Navbar.astro";
import "animate.css";
---

<header>
  <Navbar />

  <div
    class="text-white font-bold h-screen bg-no-repeat flex flex-col items-center justify-center gap-12 bg-center bg-cover rounded-b-[32px] lg:rounded-b-[64px] animate__animated animate__fadeIn animate__slow"
    style="background-image: url('/imgMain.webp'); background-size: cover;"
  >
    <span class="text-2xl">Bienvenido a:</span>
    <h1 class="md:text-6xl text-4xl">Museos en Línea</h1>
    <button class="border p-4 rounded-3xl md:text-2xl font-normal"
      >Empecemos</button
    >
  </div>
</header>
