---
import "animate.css";
let id = Astro.url.pathname;
import NavbarReact from "../components/NavbarReact";
---

<nav
  class=`bg-[#FFA836] text-white py-6 font-bold ${id === "/" ? "fixed" : "sticky top-0"} rounded-b-[35px] w-full z-10 animate__animated animate__fadeInDown`
>
  <NavbarReact client:load />
</nav>

<style>
  .navbar {
    animation: identifier 1s;
  }

  @keyframes identifier {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
</style>
