---
import "animate.css";
let id = Astro.url.pathname;
---

<nav
  class=`bg-[#FFA836] text-white py-6 flex items-center justify-evenly font-bold ${id === "/" ? "fixed" : "sticky top-0"} rounded-b-[35px] w-full [&>span]:text-xl z-10 animate__animated animate__fadeInDown`
>
  <a href="/">
    <img src="/favicon.svg" alt="Logo" />
  </a>

  <a href="/">
    <span>Inicio</span>
  </a>

  <a href="/museos">
    <span>Museos</span>
  </a>

  <a href="/gestioncolecciones">
    <span>Gestión de Colecciones</span>
  </a>

  <a href="/conocemas">
    <span>Conoce más</span>
  </a>
</nav>

<style>
  .navbar {
    animation: identifier 1s;
  }

  @keyframes identifier {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
</style>
