---
import CarouselComments from "../../../components/CarouselComments";
---

<section>
  <h2 class="text-center">Actividades</h2>
  <p class="text-center">
    ¡Ponte al día con nuestras fechas de actividades en nuestros museos!
  </p>
  <CarouselComments client:load />
</section>
