---
import CarouselComments from "./CarouselComments";
---

<section class="mb-24">
  <h2 class="text-center font-semibold text-4xl text-[#553000]">Actividades</h2>
  <p class="text-center mt-6 mb-16 text-xl font-bold">
    ¡Ponte al día con nuestras fechas de actividades en nuestros museos!
  </p>

  <CarouselComments client:load />
</section>
