---
import CarouselComments from "./CarouselComments";
---

<section class="lg:mb-24 mb-12">
  <h2 class="text-center font-bold lg:text-4xl text-3xl text-[#553000]">Actividades</h2>
  <p class="text-center lg:mt-6 mt-2 lg:mb-16 mb-10 lg:text-xl lg:font-bold">
    ¡Ponte al día con nuestras fechas de actividades en nuestros museos!
  </p>

  <CarouselComments client:load />
</section>
