---
const img = [
  {
    src: "/asociacionMuseos.jpg",
    title: "Asociación de Museos",
  },
  {
    src: "/ibermuseos.jpg",
    title: "IBERMUSEOS",
  },
  {
    src: "/consejoInternacionalMuseos.webp",
    title: "Consejo Internacional de Museos",
  },
];
---

<section class="mb-32">
  <h2 class="lg:text-center lg:text-5xl text-3xl font-bold text-[#553000] mb-5 lg:mb-12">
    Enlaces de interés
  </h2>
  <p class="lg:text-center text-xl mb-24 mx-auto lg:w-3/5">
    Conoce diversas instituciones nacionales e internacionales comprometidas con
    la protección y difusión del patrimonio cultural desde el ámbito de los
    museos.
  </p>

  <div class="flex justify-center gap-14">
    {
      img.map(({ src, title }) => (
        <div class="w-80 overflow-hidden relative rounded-[32px]">
          <img
            src={src}
            class="w-full h-full scale-125 brightness-50 hover:brightness-75 hover:scale-100 transition-all duration-300"
            alt={title}
          />

          <div class="text-white absolute left-9 bottom-8">
            <h3 class=" text-2xl font-bold mt-4 w-60">{title}</h3>
            <span class="text-xs">Visita su página aquí</span>
          </div>
        </div>
      ))
    }
  </div>
</section>
