<section>
  <h2 class="text-[#553000] font-bold text-center text-5xl my-24">
    Estadísticas de Visitantes
  </h2>

  <div class="flex flex-col items-center gap-8 mb-36">
    <h3>Estadística Mensual</h3>
    <p>
      A través del sistema de gestión de visitantes se lleva un registro mensual
      de público nacional y extranjero que asiste a los museos.
    </p>
    <div class="w-[629px] h-[629px]">
      <img src="/visitanteMuseos.jpg" alt="Visitante Museos" />
    </div>
  </div>

  <div class="flex flex-col items-center gap-8">
    <h3>Museos Abiertos</h3>
    <p>
      En el marco de la Ley 30599 y la iniciativa "Museos Abiertos”, desde el
      2017 se lleva un registro de los visitantes que acceden de forma gratuita
      el primer domingo de cada mes a los museos administrados por el Estado a
      nivel nacional.
    </p>
    <div class="w-[629px] h-[629px]">
      <img
        src="/visitanteMuseosAbiertos.jpg"
        alt="Visitantes Museos Abiertos"
      />
    </div>
  </div>
</section>

<style>
  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    width: 535px;
    text-align: center;
    margin-bottom: 45px;
    line-height: 20px;
  }

  img {
    border-radius: 30px;
  }
</style>
