<section>
  <div class="lg:text-center">
    <h2 class="mx-auto lg:mb-12 mb-4">
      Homenaje a los Guardianes de Nuestro Patrimonio Cultural
    </h2>
    <p class="lg:text-2xl lg:font-bold lg:leading-9 lg:w-[42%] mx-auto lg:mb-20 mb-10">
      Desde la Dirección General de Museos del Ministerio de Cultura, honramos
      la memoria de las y los trabajadores de nuestros museos, quienes a través
      de su esfuerzo, dedicación y calidad humana aportaron al desarrollo del
      sector cultural del país. Siempre en nuestra memoria.
    </p>
  </div>

  <div class="flex lg:flex-row flex-col justify-center gap-10">
    <div class="lg:w-[295px] h-[333px] relative">
      <img
        class="w-full h-full object-cover grayscale rounded-3xl"
        src="/wardImg/dionicioGutierrezSoplapuco.jpg"
      />

      <div class="absolute bottom-9 left-9 text-white">
        <h4>Dionicio Gutierrez Soplapuco</h4>
        <span>Auxiliar Vigilante</span>
        <p class="text-xs w-44 mt-2">
          Museo Nacional de Sicán (Lambayeque) ✝ Mayo 2020
        </p>
      </div>
    </div>

    <div class="lg:w-[295px] h-[333px] relative">
      <img
        class="w-full h-full object-cover grayscale rounded-3xl"
        src="/wardImg/oscarEspinozaAguilar.png"
      />

      <div class="absolute bottom-9 left-9 text-white">
        <h4>Oscar Espinoza Aguilar</h4>
        <span>Operario de Limpieza</span>
        <p class="text-xs mt-2">
          Lugar de la Memoria, la Tolerancia y la Inclusión Social (Lima) ✝
          Junio 2020
        </p>
      </div>
    </div>

    <div class="lg:w-[295px] h-[333px] relative">
      <img
        class="w-full h-full object-cover grayscale rounded-3xl"
        src="/wardImg/teodoroCepedaRodriguez.png"
      />

      <div class="absolute bottom-9 left-9 text-white">
        <h4>Teodoro Cepeda Rodríguez</h4>
        <span>Vigilante de Seguridad Patrimonial</span>
        <p class="text-xs w-48 mt-2">
          Museo de Sitio de Chan Chan (La Libertad) ✝ Julio 2020
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    font-weight: 700;
    color: #553000;
    font-size: 20px;
  }

  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  span {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 50px;
      line-height: 50px;
      width: 40%;
    }
  }
</style>
