---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import { imagesMuseos } from "../../data/data";
---

<Layout title="Museos - Museos en Línea">
  <Navbar />
  <main class="w-4/5 mx-auto my-16">
    <section class="flex flex-wrap gap-y-14 justify-between">
      {
        imagesMuseos.map((info) => {
          return (
            <div class="overflow-hidden h-[578px] relative rounded-3xl animate__animated animate__fadeIn lg:basis-[30%]">
              <img
                src={info.img}
                alt={info.title}
                class="w-full h-full object-cover brightness-50 hover:brightness-75 scale-125 hover:scale-100 transition-all duration-500 rounded-3xl"
              />

              <div class="absolute bottom-10 left-5 md:left-10 text-white">
                <h3 class="font-bold mb-3 text-2xl w-11/12">{info.title}</h3>
                <p class="mb-8 w-11/12 md:w-full xl:w-11/12 2xl:w-11/12">
                  {info.text}
                </p>
                <span class="font-bold text-xl">Explora</span>
              </div>
            </div>
          );
        })
      }

      <div
        class="lg:h-[578px] flex flex-col lg:justify-end lg:pb-7 h-max lg:basis-[30%]"
      >
        <h3 class="font-bold lg:text-2xl text-xl text-[#553000]">
          ¿Y tú? ¿Tienes algún museo que te gustaría inscribir?
        </h3>
        <p>
          Dale click a “Inscribe tu museo" y conoce los pasos correspondientes
          para poder inscribirte.
        </p>

        <button
          class="bg-[#FFA836] text-white px-4 py-2 rounded-2xl mt-4 w-max shadow-md font-bold"
        >
          Inscribe tu museo
        </button>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
